header{
    background: url("../img/top.svg") no-repeat;
    background-size: 100% auto;
    color: white;
}

.head{
    padding-top: 10px;
}

nav ul li{
    list-style-type: none;
    display: inline;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 0px 0px 0px 15px;
}

nav ul li a:hover{
    text-decoration: none;
    color: #cccccc;
}

nav ul{
    padding: 0;
}

.top{
    padding-top: 50px;
}

img{
    max-width: 100%;
}

header button{
    border: none;
    color: #de1b27;
    padding: 2px 8px;
}

header button:hover{
    background-color: #cccccc;
}

.overlap .down{
    position: relative;
    z-index: 1;
}

.overlap .upper{
    position: absolute;
    z-index: 2;
    left: 170px;
    top: 60px;
}

.overlap .down2{
    position: relative;
    z-index: 1;
}


.overlap .upper2{
    position: absolute;
    z-index: 2;
    right: 170px;
    top: 60px;
}

.middle-text h2{
    display: inline-block;
    color: #282828;
}
.middle-text .dot{
    color: #d00031;
}

.middle-text p{
    font-weight: 300;
    color: #6e6e6e;
}

.middle{
    padding-bottom: 150px;
}

.phone{
    background-color: #d00031;
    background-size: cover;
    color: white;
}


.what{
    padding-top: 90px;
}

.what h2{
    display:inline;
    color: #282828;
    font-size: 48px;
}

.what .dot{
    color: #d00031;
}

.opinion{
    padding-top: 80px;
    padding-bottom: 100px;
}

.opinion-face{
    padding-top: 10px;
}

.opinion .opinion-container1{
    position: relative;
    border:  0.5px solid;
    border-color: #9e9e9e;
}

.opinion .face{
    padding-top:20px;
}
.opinion .face p, .opinion .face1 p{
    flex-direction: column; 
}
.opinion .opinion-container{
    padding-bottom: 30px;
}

.opinion .opinion-container1:after{
    content: '';
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #9e9e9e;
	border-bottom: 0;
	border-left: 0;
	margin-left: -20px;
	margin-bottom: -20px;
}

.company{
    color: #d00031;
}

.options{
    padding-top: 150px;
}

.newsletter{
    padding-top: 90px;
}

.newsletter h2{
    display: inline-block;
    color: #282828;
    font-size: 48px;
}

.newsletter .dot{
    color: #d00031;
}

.newsletter-text p{
    padding-top: 10px;
    color: #6e6e6e;
}

.newsletter-place input{
    padding: 1.5px 50px 3px 4px;
    border: none;
    background-color: #e9e8e8;
}

.newsletter-place button{
    background-color: #d00031;
    color: white;
    margin-left: -30px;
}

.newsletter-place{
    padding-bottom: 90px;
}

.last{
    padding-top:100px;
}

.box{
    background-color: #d00031;
    color: white;
    height: 75px;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 48px;
    padding-top: 5px;
    border-radius: 15px;
}

.appDownload h2{
    display: inline-block;
    color:  #282828;
}

.appDownload p{
    color: #6e6e6e;
}

.appDownload .dot{
    color: #d00031;
}

.store{
    padding-top: 10px;
    padding-bottom: 100px
}

.foot li{
    list-style: none;
    display: inline-block;
    padding: 0 5px 0 0;
}

.foot ul{
    padding: 0;
}

.foot a{
    text-decoration: none;
    color: #282828;
    font-weight: 300;
}

@media (max-width: 575.98px) {

}

@media (min-width: 576px) and (max-width: 767.98px) {
    .phone .options{
        padding-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .phone img{
        padding-top: 50%;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    .phone img{
        padding-top: 15%;
    }
}


@media (min-width: 1200px) {

}